# --- Python ---
__pycache__/
*.py[cod]
*.pyo

# --- Poetry / Virtualenv ---
.venv/

# --- Build artifacts ---
build/
dist/
*.egg-info/

# --- Tooling ---
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Environment ---
.env

# --- IDE ---
# .vscode/
.idea/
